.navbar{
    height: 60px;
    background-color: blue;
    color: white;
    width: 100%;
    display: flex;
    padding: 0 20px;
    text-decoration: none;
    .logo{
        h3{
            color: white;
            text-decoration: none;
            text-transform:uppercase;
        }
    }
}